houseData.csv
patients.csv
project.py
testing.py
arrhythmia.data
arrhythmia.names
Wholesale customers data.csv
dataset-README.txt
yoochoose-buys.dat
yoochoose-clicks.dat
testNotebook.ipynb
testNotebook2.ipynb
finalProject.ipynb
groupby_lambda.ipynb
finalB.ipynb
testAgain.ipynb
partB_D.pptx